<!DOCTYPE html>
<html >
<head>
    <title></title>
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport"  content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <script src="/public/vender/jquery/jquery-2.1.0.min.js"></script>
    <script src="/public/resource/eventHTML/lib/underscore-min.js"></script>
    <script src="/public/resource/eventHTML/lib/clndr.js"></script>
    <script src="/public/resource/eventHTML/lib/moment-2.2.1.js"></script>

    <link rel="stylesheet" href="/public/resource/eventHTML/css/clndr2.css">
    <script src="/public/script/tool/ResourceController.js"></script>
    <script src="/public/resource/eventHTML/js/calendar.js"></script>
    <style>
        body{
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="cal1"></div>
    <div id="eventList"></div>
<script>

    $(document).ready(function(){
        new NCUCalendar.Calendar({
            containerSelector:'.cal1',
            eventListSelector:'#eventList'
        });
    });

</script>
</body>
</html>