<!DOCTYPE html>
<html >
<head>
    <title></title>
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport"  content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <script src="/public/vender/jquery/jquery-2.1.0.min.js"></script>
    <script src="/public/resource/eventHTML/lib/underscore-min.js"></script>
    <script src="/public/resource/eventHTML/lib/clndr.js"></script>
    <script src="/public/resource/eventHTML/lib/moment-2.2.1.js"></script>

    <link rel="stylesheet" href="/public/resource/eventHTML/css/clndr2.css">
    <script src="/public/script/tool/ResourceController.js"></script>
    <script src="/public/resource/eventHTML/js/calendar.js"></script>
    <style>
        body{
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="cal1"></div>
    <div id="eventList"></div>
<script>

    $(document).ready(function(){
        new NCUCalendar.Calendar({
            containerSelector:'.cal1',
            eventListSelector:'#eventList'
        });
    });
    var event = [
        {name:"期中考",from:"2014-04-14",to:"2014-04-18"},
        {name:"第2次校務會議",from:"2014-04-22",to:"2014-04-22"},
        {name:"大學部宿舍抽籤",from:"2014-04-28",to:"2014-05-09"},
        {name:"轉系所申請",from:"2014-05-01",to:"2014-05-13"},
        {name:"教職員工健康檢查",from:"2014-05-06",to:"2014-05-06"},
        {name:"研究所新生暑期借住宿舍申請",from:"2014-05-19",to:"2014-07-31"},
        {name:"校慶活動日",from:"2014-05-24",to:"2014-05-24"},
        {name:"暑修第一期登記",from:"2014-05-26",to:"2014-06-04"},
        {name:"大學部導師輔導選課",from:"2014-05-26",to:"2014-06-13"},
        {name:"學雜費減免申請",from:"2014-05-26",to:"2014-07-04"},
        {name:"大學部學生提前畢業申請截止",from:"2014-05-30",to:"2014-05-30"},
        {name:"端午節",from:"2014-06-02",to:"2014-06-02"},
        {name:"大學部暑宿申請",from:"2014-06-03",to:"2014-06-09"},
        {name:"受理全校研究生放棄103學年度住宿",from:"2014-06-03",to:"2014-06-30"},
        {name:"實施線上教學評量",from:"2014-06-06",to:"2014-06-15"},
        {name:"畢業典禮",from:"2014-06-07",to:"2014-06-07"},
        {name:"下學期課程初選",from:"2014-06-09",to:"2014-06-16"},
        {name:"第2學期休學申請截止",from:"2014-06-13",to:"2014-06-13"},
        {name:"期末考",from:"2014-06-16",to:"2014-06-20"},
        {name:"暑假開始",from:"2014-06-23",to:"2014-06-23"},
        {name:"大學部暑宿宿舍開舍",from:"2014-06-23",to:"2014-06-24"},
        {name:"102學年度第2學期大學部宿舍關舍",from:"2014-06-23",to:"2014-06-25"},
        {name:"暑修第1期上課期間",from:"2014-06-23",to:"2014-08-01"},
        {name:"研究生學位考試申請截止",from:"2014-06-30",to:"2014-06-30"},
        {name:"協助指考工作，暫停受理學位證書領取",from:"2014-07-01",to:"2014-07-03"},
        {name:"教師繳交學期成績",from:"2014-07-04",to:"2014-07-04"},
        {name:"暑修第2期登記",from:"2014-07-07",to:"2014-07-16"},
        {name:"學士班領取學位證書",from:"2014-07-07",to:"2014-07-31"},
        {name:"研究生學位考試結束",from:"2014-07-18",to:"2014-07-18"},
        {name:"研究生辦理離校手續及領取學位證書截止",from:"2014-07-31",to:"2014-07-31"},
        {name:"102學年度第2學期終了",from:"2014-07-31",to:"2014-07-31"}
    ];
</script>
</body>
</html>