<!DOCTYPE html>
<html>
<head>
    <title>HelloWorld!</title>
    <link rel="stylesheet" href="/public/resource/leafletMap/css/font-awesome-4.0.3/css/font-awesome.min.css" />
</head>
<body>
    Nothing is here Don't attack me
    <!--<style>-->
        <!--.kinfo-box{-->
            <!--position: absolute;-->
            <!--left: 20%;-->
            <!--top: 20%;-->
            <!--width: 60%;-->
            <!--height: 60%;-->
            <!--background-color: #b3ecff;-->
            <!--border-radius: 15px;-->
            <!--text-align: center;-->
            <!--vertical-align: middle;-->
        <!--}-->
        <!--.kinfo-spinner{-->
            <!--position: absolute;-->
            <!--top: 50%;-->
            <!--/*font-size: 100px;*/-->
        <!--}-->
    <!--</style>-->
    <!--<div class="kinfo-box">-->
        <!--<div class="kinfo-msg">-->
            <!--讀取中請稍後-->
        <!--</div>-->
        <!--<i class="fa fa-refresh fa-spin kinfo-spinner"></i>-->
    <!--</div>-->

</body>
</html>