<!DOCTYPE html>
<html lang="zh-tw" >
<head>
    <title>TestMap</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no">

    <link rel="stylesheet" href="/public/resource/leafletMap/css/font-awesome-4.0.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/public/resource/leafletMap/css/leaflet.css"/>
    <link rel="stylesheet" href="/public/resource/leafletMap/css/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="/public/resource/leafletMap/css/leaflet.usermarker.css">
    <link rel="stylesheet" href="/public/resource/leafletMap/css/leaflet.draw.css">
    <link rel="stylesheet" href="/public/vender/select2/css/select2.css">
    <link rel="stylesheet" href="/public/resource/leafletMap/css/ncumap.css">
    <link rel="stylesheet" href="/public/vender/bootstrap/css/bootstrap.min.css">

    <script src="/public/vender/jquery/jquery-2.1.0.min.js"></script>
    <script src="/public/resource/leafletMap/js/leaflet.js"></script>
    <script src="/public/resource/leafletMap/js/leaflet.awesome-markers.min.js"></script>
    <script src="/public/resource/leafletMap/js/leaflet.usermarker.js"></script>
    <script src="/public/resource/leafletMap/js/leaflet.draw.js"></script>
    <script src="/public/vender/select2/js/select2.min.js"></script>
    <script src="/public/vender/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/resource/leafletMap/js/NCUMap.js"></script>
    <script src="/public/resource/leafletMap/js/NCUMapMarkerEditor.js"></script>

    <style>
        body{
            position: fixed;
            width: 100%;
            height: 100%;
        }
        #NCUMapContainer{
            height:100%;
            color: #368;
        }
        .leaflet-popup-content img{
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="NCUMapContainer"></div>
    <script>
        $(document).ready(function(){

            var map = new NCUMap.Map({
                container:'NCUMapContainer',
                codeServerURL:"https://appforncu.appspot.com/getmap",
                customMap:{
                    coderEnable:false,
                    selecterEnable:false,
                    gpsEnable:true,
                    settingEnable:false,
                    locationMarkerEnable:true
                }
            });

            var searchURL = location.search;
            var arrParams,resultSet={};
            if(searchURL.indexOf("?") != -1){
                arrParams = searchURL.split("?")[1].split("&");
                for(var i=0;i<arrParams.length;i++){
                    var queryPair = arrParams[i].split("=");
                    resultSet[queryPair[0]] = queryPair[1];
                }
                if(resultSet["location"]){
                    var name =decodeURIComponent(resultSet["location"]);
                    var timer = setInterval(function(){
                        map.setViewToName(name);
                        clearInterval(timer);
                    },500);
                }else if(resultSet["lat"]){
                    map.setViewToLatlng(resultSet["lat"],resultSet["lng"]);
                }else if(resultSet["codes"]){
                    map.addCustomLayerByIDs(resultSet["codes"].split(","));
                }
            }

        });
    </script>
	
</body>
</html>