<!DOCTYPE html>
<html>
<head>
    <title>TRAFFIC</title>

    <link rel="stylesheet" href="/public/resource/trafficHTML/css/jquery.nouislider.min.css" />
    <script src="/public/vender/jquery/jquery-2.1.0.min.js"></script>
    <script src="/public/resource/trafficHTML/js/jquery.nouislider.min.js"></script>

    <script src="/public/resource/trafficHTML/js/NCUTraffic.js"></script>


    <style>
        body{
            /*background-color: #101010;*/
        }
        #timeSlider{
            margin-top: 100px;
            margin-left: 100px;
            text-align: center;
            width: 500px;
        }
    </style>
</head>
<body>
    <div id="timeSlider"></div>
    <div id="timeSliderLowerLabel"></div>
    <div id="timeSliderUpperLabel"></div>
    <script>
        $(document).ready(function(){
            var Link = $.noUiSlider.Link;
            var changeFunc = function(val){
                var valueToTime = {
                    0:"04:00",
                    10:"06:00",
                    20:"08:00",
                    30:"10:00",
                    40:"12:00",
                    50:"14:00",
                    60:"16:00",
                    70:"18:00",
                    80:"20:00",
                    90:"22:00",
                    100:"24:00"
                };
                var result = valueToTime[parseInt(val)];
                console.log(result);
            };
            var slider = $('#timeSlider');
            slider.noUiSlider({
                start: [0, 100],
                step: 10,
                connect:true,
                range:{
                    'min':0,
                    'max':100
                },
                serialization:{
                    lower:[new Link({target:changeFunc})],
                    upper:[new Link({target:changeFunc})]
                }
            });
        });
    </script>

</body>
</html>