<!DOCTYPE html>
<html>
<head>
    <title>TRAFFIC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" id="viewport"  content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="/public/resource/trafficHTML/css/jquery.nouislider.min.css" />
    <link rel="stylesheet" href="/public/resource/trafficHTML/css/traffic.css" />
    <script src="/public/vender/jquery/jquery-2.1.0.min.js"></script>
    <script src="/public/resource/trafficHTML/js/jquery.nouislider.min.js"></script>
    <script src="/public/script/tool/StringFormat.js"></script>
    <script src="/public/resource/trafficHTML/js/NCUTraffic.js"></script>

</head>
<body>
    <div style="height: 10px;"></div>
    <div id="weekController">
        <div id="weekContainer">
            <div class="weekDays weekday-7">日</div>
            <div class="weekDays weekday-1">一</div>
            <div class="weekDays weekday-2">二</div>
            <div class="weekDays weekday-3">三</div>
            <div class="weekDays weekday-4">四</div>
            <div class="weekDays weekday-5">五</div>
            <div class="weekDays weekday-6">六</div>
        </div>
        <div id="sliderContainer"></div>
        <div id="queryButton">開始搜尋</div>
    </div>
    <div id="eventController">
        <div id="stationContainer_box">
            <div id="stationContainer">
                <div class="station">車號</div>
                <div class="station">中壢車站</div>
                <div class="station">中央大學</div>
                <div class="station">高鐵桃園</div>
            </div>
        </div>
        <div id="busContainer"></div>
    </div>
    <script>
        $(document).ready(function(){
            new NCUTraffic.Bus({
                sliderContainer:'#sliderContainer',
                weekDaysChooser:'.weekDays',
                queryButton:'#queryButton',
                busContainer:'#busContainer'
            });



            var stationContainer = $("#stationContainer");
            var pos = stationContainer.offset().top;
            var checkFlag = false;
            $(window).scroll(function () {
                if ($(window).scrollTop() > pos) {
                    if(!checkFlag){
                        stationContainer.css('position','fixed');
                        stationContainer.css('width','100%');
                        stationContainer.css('top','0px');
                        checkFlag = true;
                    }
                } else{
                    if(checkFlag){
                        stationContainer.css('position','absolute');
                        checkFlag = false;
                    }
                }
            });
        });

    </script>

</body>
</html>