@import url(https://fonts.googleapis.com/css?family=Asap:400,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
body{
    font-family: Inconsolata, Monaco, 'Andale Mono', Courier,"微軟正黑體";
    margin: 0px;
    padding: 0px;
    background-color: #6e6e66;
    overflow-x: hidden;
}
#sliderContainer{
    width: 100%;
    text-align: center;
}
#sliderContainer:after{
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#timeSlider{
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    width: 80%;
}
.timeSliderLabel{
    color: #eeeeee;
    background-color: #8f8f87;
    float: left;
    margin: auto 1%;
    height: 25px;
    line-height: 25px;
    width: 8%;
    font-size: 10px;
}

#weekContainer{
    width: 100%;

}
.weekDays:hover{
    cursor: pointer;
    background-color: #85a5d9;
}
.weekDaysChoosed{
    background-color: #7996c7 !important;
}
.weekDays{
    float: left;
    color: #eee;
    text-align: center;
    background-color: #a9c4d9;
    width: 12.28%;
    padding: 5px 0px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px;
}
#queryButton{
    display: inline-block;
    text-align: center;
    color: #eee;
    background-color: #aab2d9;
    width: 98%;
    height:40px;
    line-height: 40px;
    margin: 20px 1%;
}
#queryButton:hover{
    cursor: pointer;
    background-color: #8768d9;
}
#stationContainer{
    background-color: rgba(225, 233, 210, 0.7);
    height: 30px;
    font-weight: bold;
}
.station{
    color: #3e3e3e;
    text-align: center;
    float: left;
    padding: 5px 0;
    margin: 3px 0%;
    width: 25%;
}
.listStation{
    border-bottom: 1px solid #eee;
    color: #eee;
    text-align: center;
    float: left;
    padding: 5px 0;
    margin: 3px 0%;
    width: 25%;
}
