<table  cellpadding="5" cellspacing="2">
<tbody>
<tr class="trTitle">
    <td colspan="2" align="center">
        <strong>中央大學總機：(03)422-7151</strong>
    </td>
    <td colspan="2" align="center">
        <strong>學生宿舍總機：(03)427-6707</strong>
    </td>
</tr>
<tr class="trodd">
    <td colspan="2">
        宿舍服務中心
        <br/>
        分機：57282、57290
        <br/>
        直撥專線：(03)426-3926
        <br/>
        電子信箱：<a href="mailto:ncu57290@cc.ncu.edu.tw">ncu57290@cc.ncu.edu.tw</a>
    </td>
    <td colspan="2">
    </td>
</tr>
<tr class="trTitle" align="center">
    <td width="20%">
        傳達室
    </td>
    <td width="30%">
        分機/行動電話
        <br/>
        (中大總機+分機號碼)
    </td>
    <td width="20%">
        管理宿舍
    </td>
    <td width="30%">
        寢室電話
        <br/>
        (宿舍總機+寢室號碼)
    </td>
</tr>
<tr class="treven">
    <td rowspan="5">
        東區傳達室
        <br/>
        (女14舍1樓)
    </td>
    <td rowspan="5">
        分機：57283
        <br/>
        0919-019864
    </td>
    <td>
        女14舍
    </td>
    <td>
        850+寢室編號(5~9樓)
        <br/>
        85+寢室編號(10~12樓)
    </td>
</tr>
<tr class="treven">
    <td>
        女研舍
    </td>
    <td>
        880+寢室編號(2~4樓)
    </td>
</tr>
<tr class="treven">
    <td>
        男5舍
    </td>
    <td>
        865+寢室編號
    </td>
</tr>
<tr class="treven">
    <td>
        男11舍
    </td>
    <td>
        871+寢室編號
    </td>
</tr>
<tr class="treven">
    <td>
        國際學舍
    </td>
    <td>
        862+寢室編號
    </td>
</tr>
<tr class="trodd">
    <td rowspan="6">
        西區傳達室
        <br/>
        (女1-4舍入口處)
    </td>
    <td rowspan="6">
        分機：66851
        <br/>
        0919-019964
    </td>
    <td>
        女1舍
    </td>
    <td>
        881+寢室編號
    </td>
</tr>
<tr class="trodd">
    <td>
        女2舍
    </td>
    <td>
        882+寢室編號
    </td>
</tr>
<tr class="trodd">
    <td>
        女3舍
    </td>
    <td>
        883+寢室編號
    </td>
</tr>
<tr class="trodd">
    <td>
        女4舍
    </td>
    <td>
        884+寢室編號
    </td>
</tr>
<tr class="trodd">
    <td>
        女5舍
    </td>
    <td>
        863+寢室編號
    </td>
</tr>
<tr class="trodd">
    <td>
        男3舍
    </td>
    <td>
        886+寢室編號
    </td>
</tr>
<tr class="treven">
    <td rowspan="3">
        南區傳達室
        <br/>
        (男5舍1樓)
    </td>
    <td rowspan="3">
        分機：57291
        <br/>
        0919-019564
    </td>
    <td>
        男6舍
    </td>
    <td>
        866+寢室編號
    </td>
</tr>
<tr class="treven">
    <td>
        男7舍
    </td>
    <td>
        867+寢室編號
    </td>
</tr>
<tr class="treven">
    <td>
        男13舍
    </td>
    <td>
        873+寢室編號
    </td>
</tr>
<tr class="trodd">
    <td rowspan="4">
        北區傳達室
        <br/>
        (新研舍1樓)
    </td>
    <td rowspan="4">
        分機：57288
        <br/>
        0919-019714
    </td>
    <td>
        男9A舍
    </td>
    <td>
        869+寢室編號
    </td>
</tr>
<tr class="trodd">
    <td>
        男9B舍
    </td>
    <td>
        869+寢室編號
    </td>
</tr>
<tr class="trodd">
    <td>
        男12舍
    </td>
    <td>
        872+寢室編號
    </td>
</tr>
<tr class="trodd">
    <td>
        男新研舍
    </td>
    <td>
        89+寢室編號
    </td>
</tr>
</tbody>
</table>