<table  >
<tbody>
<tr class="trHeader">
    <td class="tdA">
        <p align="center">
            <strong>單位</strong>
            <strong></strong>
        </p>
    </td>
    <td class="tdB">
        <p align="center" >
            <strong>分機</strong>
            <strong></strong>
        </p>
    </td>
    <td class="tdC">
        <p align="center">
            <strong>電子信箱</strong>
            <strong></strong>
        </p>
    </td>
</tr>
<tr class="treven">
    <td colspan="3">
        <p align="center">
            中央大學總機：(03)422-7151
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            教務處
        </p>
    </td>
    <td>
        <p>
            57101
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7100@ncu.edu.tw">ncu7100@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            註冊組
        </p>
    </td>
    <td>
        <p>
            57115-57118、57122-57125
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7121@ncu.edu.tw">ncu7121@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            課務組
        </p>
    </td>
    <td>
        <p>
            57122
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7122@ncu.edu.tw">ncu7122@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            招生組
        </p>
    </td>
    <td>
        <p>
            57141
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7141@ncu.edu.tw">ncu7141@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            教學發展中心
        </p>
    </td>
    <td>
        <p>
            57131
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7131@ncu.edu.tw">ncu7131@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            學生事務處
        </p>
    </td>
    <td>
        <p>
            57200
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7200@cc.ncu.edu.tw">ncu7200@cc.ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            生活輔導組
        </p>
    </td>
    <td>
        <p>
            57221
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7221@ncu.edu.tw">ncu7221@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            課外活動組
        </p>
    </td>
    <td>
        <p>
            57231
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7231@ncu.edu.tw">ncu7231@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            衛生保健組
        </p>
    </td>
    <td>
        <p>
            57270
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7270@ncu.edu.tw">ncu7270@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            職涯發展中心
        </p>
    </td>
    <td>
        <p>
            57241
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7241@ncu.edu.tw">ncu7241@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            諮商輔導中心
        </p>
    </td>
    <td>
        <p>
            57263
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7263@ncu.edu.tw">ncu7263@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            軍訓室
        </p>
    </td>
    <td>
        <p>
            57212
            <br/>
            專線(03)280-5666
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7212@cc.ncu.edu.tw">ncu7212@cc.ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            總務處
        </p>
    </td>
    <td>
        <p>
            57300
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7300@ncu.edu.tw">ncu7300@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            文書組
        </p>
    </td>
    <td>
        <p>
            57359
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7351@ncu.edu.tw">ncu7351@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            事務組
        </p>
    </td>
    <td>
        <p>
            57311
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7311@ncu.edu.tw">ncu7311@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            出納組
        </p>
    </td>
    <td>
        <p>
            57342
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7342@ncu.edu.tw">ncu7342@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            營繕組
        </p>
    </td>
    <td>
        <p>
            57322
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7322@ncu.edu.tw">ncu7322@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            保管組
        </p>
    </td>
    <td>
        <p>
            57332
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7332@ncu.edu.tw">ncu7332@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            採購組
        </p>
    </td>
    <td>
        <p>
            57372
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7372@ncu.edu.tw">ncu7372@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            駐校警衛隊
        </p>
    </td>
    <td>
        <p>
            57119(前門)
            <br/>
            57319(後門)
            <br/>
            專線(03)426-7144
        </p>
    </td>
    <td>
        <p>
            <a href="http://www.ncu.edu.tw/i/index/ncu7119@ncu.edu.tw">ncu7119@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            研究發展處
        </p>
    </td>
    <td>
        <p>
            27050
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7020@ncu.edu.tw">ncu7020@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            企劃組
        </p>
    </td>
    <td colspan="2">
        <p>
            27055~27059
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            研究推動組
        </p>
    </td>
    <td colspan="2">
        <p>
            27062~27067
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            智權技轉組
        </p>
    </td>
    <td colspan="2">
        <p>
            27076~27079
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            創新育成中心
        </p>
    </td>
    <td colspan="2">
        <p>
            27086、27087、專線(03)490-8851
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            貴重儀器使用中心
        </p>
    </td>
    <td colspan="2">
        <p>
            27096、27097
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            頂尖大學計畫辦公室
        </p>
    </td>
    <td colspan="2">
        <p>
            27070~27075
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            國際事務處
        </p>
    </td>
    <td>
        <p>
            57080
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncuoia@ncu.edu.tw">ncuoia@ncu.edu.tw</a>
            <br/>
            <a href="mailto:IntlAdms@ncu.edu.tw">IntlAdms@ncu.edu.tw</a>
            (國際招生)
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            秘書室
        </p>
    </td>
    <td>
        <p>
            57010
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7010@ncu.edu.tw">ncu7010@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            第一組
        </p>
    </td>
    <td>
        <p>
            57012、57006
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncunews@ncu.edu.tw">ncunews@ncu.edu.tw</a>
            (新聞)
            <br/>
            <a href="mailto:give@ncu.edu.tw">give@ncu.edu.tw</a>
            (募款)
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            第二組
        </p>
    </td>
    <td colspan="2">
        <p>
            57001、57002
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            第三組
        </p>
    </td>
    <td>
        <p>
            57042~57046
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:alumni@ncu.edu.tw">alumni@ncu.edu.tw</a>
            (校友)
            <br/>
            <a href="mailto:ncu57432@ncu.edu.tw">ncu57432@ncu.edu.tw</a>
            (校史)
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            圖書館
        </p>
    </td>
    <td>
        <p>
            57400、57401
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7400@ncu.edu.tw">ncu7400@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            採編組
        </p>
    </td>
    <td>
        <p>
            57411、57412
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu57412@ncu.edu.tw">ncu57412@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            典閱組
        </p>
    </td>
    <td>
        <p>
            57429、專線(03)426-7127(總圖服務台)
            <br/>
            34779(國鼎分館)
            <br/>
            57431(K書中心)
            <br/>
            57430(舊圖視聽)
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:cirlib@ncu.edu.tw">cirlib@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            推廣服務組
        </p>
    </td>
    <td>
        <p>
            57407
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu57407@ncu.edu.tw">ncu57407@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            資訊系統組
        </p>
    </td>
    <td>
        <p>
            57421、57422
        </p>
    </td>
    <td>
        <p>
            &gt;<a href="mailto:ncu57422@ncu.edu.tw">ncu57422@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            電算中心
        </p>
    </td>
    <td>
        <p>
            57500
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7500@ncu.edu.tw">ncu7500@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            環安中心
        </p>
    </td>
    <td>
        <p>
            57303
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7303@ncu.edu.tw">ncu7303@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            人事室
        </p>
    </td>
    <td>
        <p>
            57761~57773
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7060@ncu.edu.tw">ncu7060@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            主計室
        </p>
    </td>
    <td>
        <p>
            57051~57053
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7054@ncu.edu.tw">ncu7054@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            台聯大系統辦公室
        </p>
    </td>
    <td>
        <p>
            34757
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:annie926@cc.ncu.edu.tw">annie926@cc.ncu.edu.tw</a>
        </p>
    </td>
</tr>
</tbody>
</table>