<table>
<tbody>
<tr class="trHeader">
    <td class="tdA">
        <p align="center">
            <strong>單位</strong>
            <strong></strong>
        </p>
    </td>
    <td class="tdB">
        <p align="center">
            <strong>分機</strong>
            <strong></strong>
        </p>
    </td>
    <td class="tdC">
        <p align="center">
            <strong>電子信箱</strong>
            <strong></strong>
        </p>
    </td>
</tr>
<tr class="treven">
    <td colspan="3">
        <p align="center">
            中央大學總機：(03)422-7151
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            文學院
        </p>
    </td>
    <td>
        <p>
            33000
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu3000@ncu.edu.tw" title="文學院電子信箱">ncu3000@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            中國文學系
        </p>
    </td>
    <td>
        <p>
            33100
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu3100@ncu.edu.tw" title="中文系電子信箱">ncu3100@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            英美語文學系
        </p>
    </td>
    <td>
        <p>
            33200
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:eng@cc.ncu.edu.tw" title="英文系電子信箱">eng@cc.ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            法國語文學系
        </p>
    </td>
    <td>
        <p>
            33300
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu3300@ncu.edu.tw" title="法文系電子信箱">ncu3300@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            哲學研究所
        </p>
    </td>
    <td>
        <p>
            33550
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu3550@ncu.edu.tw" title="哲研所電子信箱">ncu3550@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            藝術學研究所
        </p>
    </td>
    <td>
        <p>
            33650
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu3650@ncu.edu.tw" title="藝研所電子信箱">ncu3650@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            歷史研究所
        </p>
    </td>
    <td>
        <p>
            33750
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu3750@ncu.edu.tw" title="歷史所電子信箱">ncu3750@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            學習與教學研究所
        </p>
    </td>
    <td>
        <p>
            33851
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu3851@ncu.edu.tw" title="學習所電子信箱">ncu3851@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            理學院
        </p>
    </td>
    <td>
        <p>
            65000
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu5000@ncu.edu.tw" title="理學院電子信箱">ncu5000@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            物理學系
        </p>
    </td>
    <td>
        <p>
            65300
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu5300@ncu.edu.tw" title="物理系電子信箱">ncu5300@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            數學系
        </p>
    </td>
    <td>
        <p>
            65100
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu5100@ncu.edu.tw" title="數學系電子信箱">ncu5100@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            化學學系
        </p>
    </td>
    <td>
        <p>
            65900
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu5901@ncu.edu.tw" title="化學系電子信箱">ncu5901@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            生命科學系
        </p>
    </td>
    <td>
        <p>
            65050
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu5050@ncu.edu.tw" title="生科系電子信箱">ncu5050@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            統計研究所
        </p>
    </td>
    <td>
        <p>
            65450
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:stat@stat.ncu.edu.tw" title="統計所電子信箱">stat@stat.ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            光電科學與工程學系
        </p>
    </td>
    <td>
        <p>
            65251
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu5251@ncu.edu.tw" title="光電系電子信箱">ncu5251@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            天文研究所
        </p>
    </td>
    <td>
        <p>
            65950
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu5950@ncu.edu.tw" title="天文所電子信箱">ncu5950@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            認知神經科學研究所
        </p>
    </td>
    <td>
        <p>
            65200
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu5200@ncu.edu.tw" title="認知所電子信箱">ncu5200@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            系統生物與生物資訊研究所
        </p>
    </td>
    <td>
        <p>
            36100
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu36100@ncu.edu.tw" title="系生所電子信箱">ncu36100@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            工學院
        </p>
    </td>
    <td>
        <p>
            34000
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu4000@ncu.edu.tw" title="工學院電子信箱">ncu4000@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            化學工程與材料工程學系
        </p>
    </td>
    <td>
        <p>
            34200
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu4200@ncu.edu.tw" title="化材系電子信箱">ncu4200@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            土木工程學系
        </p>
    </td>
    <td>
        <p>
            34070
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu4100@ncu.edu.tw" title="土木系電子信箱">ncu4100@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            機械工程學系
        </p>
    </td>
    <td>
        <p>
            34300
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu4300@ncu.edu.tw" title="機械系電子信箱">ncu4300@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            能源工程研究所
        </p>
    </td>
    <td>
        <p>
            34300
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu4300@ncu.edu.tw" title="能源所電子信箱">ncu4300@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            環境工程研究所
        </p>
    </td>
    <td>
        <p>
            34650
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu4650@ncu.edu.tw" title="環工所電子信箱">ncu4650@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            營建管理研究所
        </p>
    </td>
    <td>
        <p>
            34030
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu4030@ncu.edu.tw" title="營管所電子信箱">ncu4030@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            材料科學與工程研究所
        </p>
    </td>
    <td>
        <p>
            34900
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu34900@ncu.edu.tw" title="材料所電子信箱">ncu34900@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            生物醫學工程研究所
        </p>
    </td>
    <td>
        <p>
            37350
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:bme@ncu.edu.tw" title="生醫所電子信箱">bme@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            國際永續發展碩士在職專班
        </p>
    </td>
    <td>
        <p>
            34000
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu4000@ncu.edu.tw" title="IESD電子信箱">ncu4000@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            管理學院
        </p>
    </td>
    <td>
        <p>
            66001
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu6001@ncu.edu.tw" title="管理學院電子信箱">ncu6001@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            企業管理學系
        </p>
    </td>
    <td>
        <p>
            66100
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu6110@ncu.edu.tw" title="企管系電子信箱">ncu6110@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            資訊管理學系
        </p>
    </td>
    <td>
        <p>
            66500
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu6500@ncu.edu.tw" title="資管系電子信箱">ncu6500@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            財務金融學系
        </p>
    </td>
    <td>
        <p>
            66250
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu6250@ncu.edu.tw" title="財金系電子信箱">ncu6250@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            會計研究所
        </p>
    </td>
    <td>
        <p>
            66800
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu66800@cc.ncu.edu.tw" title="會計所電子信箱">ncu66800@cc.ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            經濟學系
        </p>
    </td>
    <td>
        <p>
            66300
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu6300@ncu.edu.tw" title="經濟系電子信箱">ncu6300@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            產業經濟研究所
        </p>
    </td>
    <td>
        <p>
            66450
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu6450@ncu.edu.tw" title="產經所電子信箱">ncu6450@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            人力資源管理研究所
        </p>
    </td>
    <td>
        <p>
            66750
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:hr@cc.ncu.edu.tw" title="人資所電子信箱">hr@cc.ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            工業管理研究所
        </p>
    </td>
    <td>
        <p>
            66651
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu6651@ncu.edu.tw" title="工管所電子信箱">ncu6651@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            管理學院高階主管企管碩士班(EMBA)
        </p>
    </td>
    <td>
        <p>
            66006
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncuemba@mgt.ncu.edu.tw" title="EMBA班電子信箱">ncuemba@mgt.ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            企業資源規劃(ERP)中心
        </p>
    </td>
    <td>
        <p>
            66600
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:erpcenter@erp.ncu.edu.tw" title="ERP中心電子信箱">erpcenter@erp.ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            資訊電機學院
        </p>
    </td>
    <td>
        <p>
            35000
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu4549@ncu.edu.tw" title="資電學院電子信箱">ncu4549@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            電機工程學系
        </p>
    </td>
    <td>
        <p>
            34567
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:eeoffice@ee.ncu.edu.tw" title="電機系電子信箱">eeoffice@ee.ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            資訊工程學系
        </p>
    </td>
    <td>
        <p>
            35200
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu4500@ncu.edu.tw" title="資工系電子信箱">ncu4500@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            通訊工程學系
        </p>
    </td>
    <td>
        <p>
            35500
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu35500@ncu.edu.tw" title="通訊系電子信箱">ncu35500@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            網路學習科技研究所
        </p>
    </td>
    <td>
        <p>
            35400
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu35400@ncu.edu.tw" title="網學所電子信箱">ncu35400@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            地球科學學院
        </p>
    </td>
    <td>
        <p>
            65680
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu5680@ncu.edu.tw" title="地科學院電子信箱">ncu5680@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            地球科學學系
        </p>
    </td>
    <td>
        <p>
            65600
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:esta@ncu.edu.tw" title="地科系電子郵件">esta@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            大氣科學學系
        </p>
    </td>
    <td>
        <p>
            65500
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:twangst@atm.ncu.edu.tw" title="大氣系電子信箱">twangst@atm.ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            太空科學研究所
        </p>
    </td>
    <td>
        <p>
            65750
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu5750@ncu.edu.tw" title="太空所電子信箱">ncu5750@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            應用地質研究所
        </p>
    </td>
    <td>
        <p>
            65850
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu5850@ncu.edu.tw" title="應地所電子信箱">ncu5850@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            水文與海洋科學研究所
        </p>
    </td>
    <td>
        <p>
            65686
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu5686@ncu.edu.tw" title="水文所電子信箱">ncu5686@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            客家學院
        </p>
    </td>
    <td>
        <p>
            33050
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu3050@ncu.edu.tw" title="客家學院電子信箱">ncu3050@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            客家語文暨社會科學學系
        </p>
    </td>
    <td>
        <p>
            33458
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu3458@ncu.edu.tw" title="客家學系電子信箱">ncu3458@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            客家語文暨社會科學學系碩士班
        </p>
    </td>
    <td>
        <p>
            33470
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:cychou@ncu.edu.tw" title="客家學系碩士班電子信箱">cychou@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            法律與政府研究所
        </p>
    </td>
    <td>
        <p>
            33417
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:lawgov@ncu.edu.tw" title="法政所電子信箱">lawgov@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            客家研究碩士在職專班
        </p>
    </td>
    <td>
        <p>
            33453
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:hakkastu@ncu.edu.tw" title="客家研究碩專電子信箱">hakkastu@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            總教學中心
        </p>
    </td>
    <td>
        <p>
            34814
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu34814@ncu.edu.tw" title="總教學中心電子信箱">ncu34814@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            通識教育中心
        </p>
    </td>
    <td>
        <p>
            33400
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu3400@ncu.edu.tw" title="通識中心電子信箱">ncu3400@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            師資培育中心
        </p>
    </td>
    <td>
        <p>
            33850
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu3850@ncu.edu.tw" title="師培中心電子信箱">ncu3850@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            藝文中心
        </p>
    </td>
    <td>
        <p>
            57195
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7195@ncu.edu.tw" title="藝文中心電子信箱">ncu7195@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            語言中心
        </p>
    </td>
    <td>
        <p>
            33800
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu3800@ncu.edu.tw" title="語言中心電子信箱">ncu3800@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            科學教育中心
        </p>
    </td>
    <td>
        <p>
            65402
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncusciedu@gmail.com" title="科學教育中心電子信箱">ncusciedu@gmail.com</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            出版中心
        </p>
    </td>
    <td>
        <p>
            34832
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu34832@ncu.edu.tw" title="出版中心電子信箱">ncu34832@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            體育室
        </p>
    </td>
    <td>
        <p>
            57251
            <br/>
            專線(03)426-7128
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7250@cc.ncu.edu.tw" title="體育室電子信箱">ncu7250@cc.ncu.edu.tw</a>
        </p>
    </td>
</tr>
</tbody>
</table>