<table>
<tbody>
<tr class="trHeader">
    <td class="tdA">
        <p align="center">
            <strong>單位</strong>
            <strong></strong>
        </p>
    </td>
    <td class="tdB">
        <p align="center">
            <strong>分機</strong>
            <strong></strong>
        </p>
    </td>
    <td class="tdC">
        <p align="center">
            <strong>專線電話</strong>
            <strong></strong>
        </p>
    </td>
</tr>
<tr class="treven">
    <td colspan="3">
        <p align="center">
            中央大學總機：(03)422-7151
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            駐校警衛隊
        </p>
    </td>
    <td>
        <p>
            前門：57119
            <br/>
            後門：57319
        </p>
    </td>
    <td>
        <p>
            (03)426-7144
            <br/>
            (03)426-7158
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            執勤教官
        </p>
    </td>
    <td>
        <p>
            57212
        </p>
    </td>
    <td>
        <p>
            (03)280-5666
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            中大會館
        </p>
    </td>
    <td>
        <p>
            58379
        </p>
    </td>
    <td>
        <p>
            (03)425-9703
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            圖書館(總圖服務台)
        </p>
    </td>
    <td>
        <p>
            57429
        </p>
    </td>
    <td>
        <p>
            (03)426-7127
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            校史館
        </p>
    </td>
    <td>
        <p>
            57042
        </p>
    </td>
    <td>
        <p>
            --
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            中大幼稚園
        </p>
    </td>
    <td>
        <p>
            58026
        </p>
    </td>
    <td>
        <p>
            --
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            資訊教育中心
        </p>
    </td>
    <td>
        <p>
            57394
        </p>
    </td>
    <td>
        <p>
            --
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            學生會
        </p>
    </td>
    <td>
        <p>
            57296
        </p>
    </td>
    <td>
        <p>
            --
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            學生議會
        </p>
    </td>
    <td>
        <p>
            57297
        </p>
    </td>
    <td>
        <p>
            --
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            中大郵局
        </p>
    </td>
    <td>
        <p>
            57395
        </p>
    </td>
    <td>
        <p>
            (03)490-2528
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            敦煌書局
        </p>
    </td>
    <td>
        <p>
            57393
        </p>
    </td>
    <td>
        <p>
            (03)420-1339
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            好視康眼鏡
        </p>
    </td>
    <td>
        <p>
            57390
        </p>
    </td>
    <td>
        <p>
            (03)427-8666
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            印象美髮
        </p>
    </td>
    <td>
        <p>
            57386
        </p>
    </td>
    <td>
        <p>
            (03)458-2299
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            中大洗衣部
        </p>
    </td>
    <td>
        <p>
            --
        </p>
    </td>
    <td>
        <p>
            (03)490-9008
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            中大影印部
        </p>
    </td>
    <td>
        <p>
            57299
        </p>
    </td>
    <td>
        <p>
            --
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            圖美輸出中心
        </p>
    </td>
    <td>
        <p>
            --
        </p>
    </td>
    <td>
        <p>
            (03)420-0534
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            校園咖啡(消費合作社)
        </p>
    </td>
    <td>
        <p>
            57298
        </p>
    </td>
    <td>
        <p>
            (03)427-2473
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            摩斯漢堡
        </p>
    </td>
    <td>
        <p>
            --
        </p>
    </td>
    <td>
        <p>
            (03)420-5100
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            香草庭園
        </p>
    </td>
    <td>
        <p>
            58157
        </p>
    </td>
    <td>
        <p>
            (03)420-2249
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            小木屋鬆餅
        </p>
    </td>
    <td>
        <p>
            --
        </p>
    </td>
    <td>
        <p>
            (03)426-5215
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            阿諾可麗餅
        </p>
    </td>
    <td>
        <p>
            --
        </p>
    </td>
    <td>
        <p>
            (03)420-5527
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            海音咖啡
        </p>
    </td>
    <td>
        <p>
            57383
        </p>
    </td>
    <td>
        <p>
            --
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            全家─中大一店(女14舍B1)
        </p>
    </td>
    <td>
        <p>
            --
        </p>
    </td>
    <td>
        <p>
            (03)420-6551
        </p>
    </td>
</tr>
<tr class="treven">
    <td>
        <p>
            全家─中大二店(九餐)
        </p>
    </td>
    <td>
        <p>
            --
        </p>
    </td>
    <td>
        <p>
            (03)426-5685
        </p>
    </td>
</tr>
<tr class="trodd">
    <td>
        <p>
            全家─中大三店(松苑)
        </p>
    </td>
    <td>
        <p>
            --
        </p>
    </td>
    <td>
        <p>
            (03)420-5531
        </p>
    </td>
</tr>
</tbody>
</table>