<table class="contactTable">
<tbody>
<tr class="trHeader">
    <td class="tdA">
        <p align="center">
            <strong>單位</strong>
            <strong></strong>
        </p>
    </td>
    <td class="tdB">
        <p align="center">
            <strong>分機</strong>
            <strong></strong>
        </p>
    </td>
    <td class="tdC">
        <p align="center">
            <strong>電子信箱</strong>
            <strong></strong>
        </p>
    </td>
</tr>
<tr class="treven">
    <td colspan="3">
        <p align="center">
            中央大學總機：(03)422-7151
        </p>
    </td>
</tr>
<tr class="trodd">
	<td>
		<p class="contactLocation">
            太空及遙測研究中心
        </p>
    </td>
    <td>
        <p>
            57600
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7600@ncu.edu.tw" title="太遙中心電子信箱">ncu7600<br>@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
	<td>
		<p class="contactLocation">
            光電科學研究中心
        </p>
    </td>
    <td>
        <p>
            57910
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7910@ncu.edu.tw" title="光電中心電子信箱">ncu7910<br>@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
	<td>
		<p class="contactLocation">
            環境研究中心
        </p>
    </td>
    <td>
        <p>
            57800
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7800@ncu.edu.tw" title="環境中心電子信箱">ncu7800<br>@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
	<td>
		<p class="contactLocation">
            通訊系統研究中心
        </p>
    </td>
    <td>
        <p>
            57950
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7950@ncu.edu.tw" title="通訊中心電子信箱">ncu7950<br>@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
	<td>
		<p class="contactLocation">
            臺灣經濟發展研究中心
        </p>
    </td>
    <td>
        <p>
            34702
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:rcted@ncu.edu.tw" title="臺經中心電子信箱">rcted<br>@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
	<td>
		<p class="contactLocation">
            人文研究中心
        </p>
    </td>
    <td>
        <p>
            33080
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu33080@ncu.edu.tw" title="人文中心電子信箱">ncu33080<br>@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
	<td>
		<p class="contactLocation">
            數據分析方法研究中心
        </p>
    </td>
    <td>
        <p>
            34056
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu34056@ncu.edu.tw" title="數據分析中心電子信箱">ncu34056<br>@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
	<td>
		<p class="contactLocation">
            前瞻科技研究中心
        </p>
    </td>
    <td>
        <p>
            57971~73
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu57971@ncu.edu.tw" title="前瞻科技研究中心電子信箱">ncu57971<br>@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
	<td>
		<p class="contactLocation">
            聯合研究中心
        </p>
    </td>
    <td>
        <p>
            34724
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu34725@ncu.edu.tw" title="聯合研究中心電子信箱">ncu34725<br>@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
	<td>
		<p class="contactLocation">
            軟體研究中心
        </p>
    </td>
    <td>
        <p>
            57881
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:src@selab.csie.ncu.edu.tw" title="軟體中心電子信箱">src<br>@selab.csie<br>.ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
	<td>
		<p class="contactLocation">
            災害防治研究中心
        </p>
    </td>
    <td>
        <p>
            34050
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu4050@ncu.edu.tw" title="災防中心電子信箱">ncu4050<br>@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
	<td>
		<p class="contactLocation">
            學習科技研究中心
        </p>
    </td>
    <td>
        <p>
            35401
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu35401@ncu.edu.tw" title="學科中心電子信箱">ncu35401<br>@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
	<td>
		<p class="contactLocation">
            奈米科技研究中心
        </p>
    </td>
    <td>
        <p>
            57540
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu7450@ncu.edu.tw" title="奈米中心電子信箱">ncu7450<br>@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
	<td>
		<p class="contactLocation">
            中子束應用研究中心
        </p>
    </td>
    <td>
        <p>
            65385
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu65385@ncu.edu.tw" title="中子束中心電子信箱">ncu65385<br>@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
	<td>
		<p class="contactLocation">
            生物科技與生醫工程研究中心
        </p>
    </td>
    <td>
        <p>
            65051
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu36102@cc.ncu.edu.tw" title="生醫中心電子信箱">ncu36102<br>@cc.ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="treven">
	<td>
		<p class="contactLocation">
            全球定位科學與應用研究中心
        </p>
    </td>
    <td>
        <p>
            65565
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:gpsarc@ncu.edu.tw" title="GPS應用研究中心電子信箱">gpsarc<br>@ncu.edu.tw</a>
        </p>
    </td>
</tr>
<tr class="trodd">
	<td>
		<p class="contactLocation">
            新世代太陽能電池研究中心
        </p>
    </td>
    <td>
        <p>
            25352
        </p>
    </td>
    <td>
        <p>
            <a href="mailto:ncu25352@ncu.edu.tw" title="新世代太陽能電池研究中心電子信箱">ncu25352<br>@ncu.edu.tw</a>
        </p>
    </td>
</tr>
</tbody>
</table>