@import url(https://fonts.googleapis.com/css?family=Asap:400,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
body{
    font-family: Inconsolata, Monaco, 'Andale Mono', Courier,"微軟正黑體";
    background-color: #e0e1e5;
}
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls {
    position: relative;
  	color: #FFF;
	font-size: 1.2em;
	text-transform: uppercase;
	padding: 10px ;
	text-align: center;
    border: 1px solid #6386a1;
    background-image: linear-gradient(#4dbae8, #4ab2df);
	margin-bottom:20px;
}
.cal1 .clndr .clndr-controls .month {
  text-align: center;
}
.cal1 .clndr .clndr-controls .month:hover{
    cursor: pointer;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button { 
  position:absolute;
  right:0px;
  top:0px;
  width:65px;
  height:65px;
  text-indent: -4000px;
  background: url(../images/arrow-right.png) no-repeat 0px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  cursor: default;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button { 
   position:absolute;
   left:0px;
   top:0px;
   width:65px;
   height:65px;
  text-indent: -4000px;
  background: url(../images/arrow-left.png) no-repeat 0px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  cursor: default;
}
.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width:100%;
  margin:0 0;
  padding-bottom: 30px;
    background-color: #88bcef;
    border: 1px solid #848688;;
    border-radius: 5px;
}
.cal1 .clndr .clndr-table .header-days {
   font-size:1em;
}
.cal1 .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  color: #dccfd6
}
.cal1 .clndr .clndr-table tr {
    height:70px;
}
.cal1 .clndr .clndr-table tr td {
  vertical-align: top;
}
.cal1 .clndr .clndr-table tr .day {
  width: 100%;
  height: inherit;
  color:#FFF;
  border: 1px solid rgba(255, 255, 255, 0.5);
  vertical-align:middle;
}
.cal1 .clndr .clndr-table tr .day:hover{
    color: #292927;
}
.cal1 .clndr .clndr-table tr .day.today {
    border: 3px solid #ffffff;
  	/*background: #EC3D68;*/
	 /*color: #FFF;*/
	 /*border-radius: 2em;*/
	/*-webkit-border-radius: 2em;*/
	/*-moz-border-radius: 2em;*/
	/*-o-border-radius: 2em;*/
}
.cal1 .clndr .clndr-table tr .day.today:hover {
  	/*color: #bac;*/
}
.cal1 .clndr .clndr-table tr .day.today.event {

	 /*color: #FFF;*/
	 /*border-radius: 2em;*/
	/*-webkit-border-radius: 2em;*/
	/*-moz-border-radius: 2em;*/
	/*-o-border-radius: 2em;*/
}
.day.today.event:hover{
	color:#FFF;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  font-size:1em;
  text-align:center;
  cursor:pointer;

}
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month {
  width: 100%;
  height: inherit;
  color: rgba(255, 255, 255, 0.2);
}
.cal1 .clndr .clndr-table tr .adjacent-month:hover{
    color: rgba(255, 255, 255, 0.2);
}
.cal1 .hasEvent{
    background-color: #3a98ef;
}

@media all and (max-width:320px) {
	.cal1 .clndr .clndr-table tr {
		height: 35px;
	}
}
.cal1{
    width: 100%;
    margin-top: 15px;
    font-size: 50px;
}
.clndr{
    /*background-color: #56c5bc;*/
    padding: 0 8px;
}
#eventList{
    width: 100%;
    text-align: center;
    margin: 0px auto;
    color: #353535;
}
.eventLine{
    margin: 10px 0;
    padding: 0 8px;
}
.eventContent{
    text-align: center;
    color: #292927;
    border: 1px solid #848688;;
    border-radius: 5px;
    box-shadow:0 0 12px -2px rgba(20%,20%,40%,0.5);
}
.eventName{
    font-size: 40px;
    background-image: linear-gradient(#3a98ef, #368ee0);
    float: none;
    width: 100%;
    color: #fff;
}
.eventTime{
    font-size: 28px;
    background-color: #88bcef;
}

@media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (   min--moz-device-pixel-ratio: 1.5),
only screen and (     -o-min-device-pixel-ratio: 3/2),
only screen and (        min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.33dppx) {
    .cal1{
        font-size: 40px;
    }
    .eventName{
        font-size: 30px;
    }
    .eventTime{
        font-size: 20px;
    }
    .cal1 .clndr .clndr-controls  {
        font-size: 1em;
    }
    #eventList{
        height: 200px;
    }
}